<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp/>
        <loggerName/>
        <threadName/>
        <message/>
        <mdc>
          <includeMdcKey>traceId</includeMdcKey>
        </mdc>
        <stackTrace/>
      </providers>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="JSON_CONSOLE" />
  </root>
</configuration>

